<%- include('./partials/header') %>

<section class="text-white pt-sm-5" id="hero">
    <%- include('./partials/navbar') %>
    <div class="container-fluid align-self-center mt-5 py-sm-3">
        <div class="row justify-content-center">
            <main class="col-10 px-0">
                <div>
                    <div class="row justify-content-start row-cols-1 row-cols-md-2 row-cols-lg-3 mt-3">
                        <% for(let j = 0; j < 3; j++) { %>
                        <% for(let k = 0; k < count[j].length; k++) { %>
                        <%- include('./partials/card-II.ejs', {i: k, j: j, route: route, event: count[j][k]}) %>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </main>
        </div>
    </div>
</section>

<section class="d-none" id="overlay">
    <div class="overlay pt-5 position-absolute d-flex justify-content-center w-100 vh-100">
        <div class="container-md">
            <div class="card bg-transparent text-white border-0 rounded-0">
                <div class="row">
                    <h3 class="bg-gold-tips d-none d-lg-block rotate p-3 my-0"><%= clubName.toUpperCase() %> CLUB
                        <i class="fas fa-angle-right fa-lg float-right"></i>
                    </h3>
                    <div class="col-lg-4">
                        <h3 class="bg-gold-tips font-weight-bold text-violent-violet d-lg-none p-3 my-0">
                            <i class="fas fa-angle-left fa-lg"></i>
                            <%= clubName.toUpperCase() %>
                            CLUB
                        </h3>
                        <img id="eventImg" src="" class="card-img rounded-0 h-100">
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body py-5 p-lg-5">
                            <h1 class="card-title"></h1>
                            <h5 class="font-weight-bold">Prize Money: &#8377 <span id="prize"></span></h5>
                            <h5 class="font-weight-bold">Rules</h5>
                            <ol id="rules" class="lead"></ol>
                            <h5 class="font-weight-bold d-none">Time: <span id="time"></span></h5>
                            <h5 class="font-weight-bold d-none">Venue: <span id="venue"></span></h5>
                            <div class="row mb-4 mx-0">
                                <div class="align-items-start">
                                    <h5 class="font-weight-bold">Contact:</h5>
                                </div>
                                <div class="col-8" id="contact"></div>
                            </div>
                            <a href="<%= club.events[0].registrationLink %>" class="btn btn-outline-light">REGISTER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>