<%- include('./partials/header') %>
<section class="hero text-white">
    <%- include('./partials/navbar') %>
    <div class="container">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item mr-3">
                <a href="#March27" class="nav-link btn btn-outline-gold-tips active" data-toggle="pill" role="tab">27
                    March</a>
            </li>
            <li class="nav-item ml-3">
                <a href="#March28" class="nav-link btn btn-outline-gold-tips" data-toggle="pill" role="tab">28
                    March</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="March27" role="tabpanel">
                <%- include('./partials/cards', {item: 'Proshow', date: '27 March'}) %>
            </div>
            <div class="tab-pane fade" id="March28" role="tabpanel">
                <%- include('./partials/cards', {item: 'Proshow', date: '28 March'}) %>
            </div>
        </div>
    </div>
</section>

<%- include('./partials/footer') %>